
.DS_Store
.vscode/launch.json
.vscode/tasks.json
Project_1/.vscode/launch.json
Project_1/.vscode/settings.json
Project_1/.vscode/tasks.json
Project_1/my_class.dSYM/Contents/Info.plist
Project_1/my_class.dSYM/Contents/Resources/DWARF/my_class
